<div class="calculadora">
  <h1>Calculadora Básica</h1>
  
  <input type="number" [(ngModel)]="numero1" placeholder="Número 1" />
  <input type="number" [(ngModel)]="numero2" placeholder="Número 2" />

  <div class="botones">
    <button (click)="sumar()">Sumar</button>
    <button (click)="restar()">Restar</button>
    <button (click)="multiplicar()">Multiplicar</button>
    <button (click)="dividir()">Dividir</button>
  </div>

  <p>Resultado: {{ resultado }}</p>
</div>

<router-outlet></router-outlet>
